{:paths ["resources" "src"]
 :deps  {com.taoensso/encore  {:mvn/version "2.120.0"}
         net.cgrand/xforms    {:mvn/version "0.19.2"}
         org.clojure/data.csv {:mvn/version "1.0.0"}
         clojure.java-time    {:mvn/version "0.3.2"}
         hanse.danzig         {:git/url "https://github.com/ribelo/danzig"
                               :sha     "ca86e1ffa32bd65458d4ae68097cc0388d91367f"}}}
